
@{
    ViewBag.Title = "Yetkisiz Erişim";
}
<link href="~/Content/login-register.css" rel="stylesheet" />


<section class="login-danger">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yetkisiz Erişim</h1>
            </div>
            <div class="main-content">

                <div class="text-danger">
                    <h1><span class="glyphicon glyphicon-remove-circle"></span> Yetkisiz Erişim</h1>
                    <hr />
                    <p class="text-justify">


                        Bu sayfaya erişim yetkiniz bulunmamaktadır.
                        <br />
                        <br />
                        @Bootstrap.linkButton("/Home/Index", "primary", "", "", "home", " Ana Sayfaya Git!")

                    </p>
                </div>


            </div>
        </div>
    </div>
</section>

@{
    string js = string.Empty;

    js = "setTimeout(function () { window.location = '/Home/Index';  },  50000 );";

}

<script>

    $(function () {

        @Html.Raw(js);
    });
</script>